body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: wheat;
  font-family: Helvetica, sans-serif
}

svg {
  background-color: wheat;
  position: absolute;
  top: 100px;
}

.bar {
  background-color: white;
  fill: #6BAF49;
  border: 1px solid black;
}

.bar:hover {
  fill: #96F567;
}

#title {
  font-size: 30px;
  font-weight: bold;
}

#tooltip {
  display: inline;
  position: relative;
  top: 130px;
  left: 30px;
  color: white;
  background: black;
}